.img1{
    width: 100px;
    height: 80px;
    padding-top: 1%;
    text-align: center;
    float: left;
}
 
/* logo center */

.topbutton1{
    width: 50%;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    right: 0%;
}
.topbutton2{
    width: 50%;
    padding-top: 10%;
    position: absolute;
    left: 0%;
    margin-left: 10%;
}
a:link{
	color:white;
    display: block;
    padding: 3%;
    font-size: 120%;
    text-decoration: none;
}
a:hover{
    background-color: lightgrey;
}
nav{
    margin-top: 1%;
    background-color: darkslategrey;
    text-align: center;
	margin-bottom:2%;
}
footer{
    background-color: darkslategrey;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 1%;
}
form{
    margin-top: 3%;
}
.a1{
    margin-top: 1%;
}

.loginbox{
    background: transparent;
    border: solid 2px;
     border-radius: 16px;
     width: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 10px;
}
.loginbox h3{
    color: black;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Copperplate';
    margin-left: 25%;
}
.textbox{
    background: none;
    width: 50%;
    overflow: hidden;
    padding: 16px 2px; 
    margin-left: 25%;
}
.textbox input{
    border: none;
    outline: none;
    color: black;
    font-size: 100%;
    width: 100%;
    height: 50px;
    background: transparent;
    border-bottom: 2px solid #ca6f1a;
}
.logbutton{
    color: white;
    font-size: 16px;
    width: 80%;
    height: 20%;
    border-radius: 8px;
    margin: 10px 10% 10px 45%;
  }  
.img2{
    width: 35%;
    height: 25%;
}
.mnv{
	margin: 2%;
	font-size:24px;
	color: black; 
	margin-top: 2%;
	font-family: 'Georgia';
}
.tab{
	display: inline-block;
    margin-left: 40px;
}
.data{
	margin: 2%;
	padding: 2%;
	color:#003333;
	font-size: 16px;
	font-family: 'Georgia';
	border-bottom: dashed  ;
	border-bottom-color:black;
}
.bor{
	border-style: double;
	margin: 2%;
	padding: 2%;
	font-family: 'Georgia';
}
.img3{
	width: 45%;
    height: 110%;
	border-radius: 50%;
	position: absolute;
	right:30%;
}
.mar{
	font-family: 'Georgia';
	margin: 2%;
	padding:2%;
	color: red;
	font-size:24px;
	border-bottom:dashed ;
	border-bottom-color:black;
	margin-top:-2%
}
.det{
	text-align:center;
	margin: 2%;
	padding:2%;
	font-size:14px;
	text-decoration:none;
}
.gui{
	width: 50%;
    height: 115%;
    padding-top: 1%;
	position:absolute;
	right:2%;
}	
.img4{
	width: 100%;
    height: 100%;
}
.guid{
margin-top:5%;
}
table, th, td {
	text-align:center;
  border: 1px solid black;
  border-collapse: collapse;
}
.mainpage{
    background-image: url('https://gdurl.com/lBtYk');
    background-color: transparent;
    background-attachment: fixed;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.mainbtn{
    position: absolute;
    left: 40%;
    margin-top: 45%;
    width: 25%;
}
.mainbtn2{
    position: absolute;
    left: 40%;
    margin-top: 80%;
    width: 25%;
}
.details{
    width: 100%;
    height: 50%;
}
.types{
    width: 80%;
    height: 20%;
}

/* footer */
    
footer .row p{
    color: white;
}

footer .row i{
    color: white;
}

footer .row .contact span{
    color: white;
}

footer .row .links h4{
    color: white;
}
 
.row a{
    color: blanchedalmond;
}


/* media queries */

@media (max-width:990px){
    .img1{
        
    }
}
