.img1{
    width: 100px;
    height: 80px;
    padding-top: 1%;
}
.topbutton1{
    width: 50%;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    right: 0%;
}
.topbutton2{
    width: 50%;
    padding-top: 10%;
    position: absolute;
    left: 0%;
    margin-left: 10%;
}
a:link{
    color: white;
    display: block;
    padding: 3%;
    font-size: 120%;
    text-decoration: none;
}
a:hover{
    background-color: lightgrey;
}
nav{
    margin-top: 1%;
    background-color: darkslategrey;
    text-align: center;
}
footer{
    background-color: darkslategrey;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 1%;
}
form{
    margin-top: 3%;
}
.a1{
    margin-top: 1%;
}
.a2{
    position: absolute;
    right: 47.5%;
}
.loginbox{
    background: transparent;
    border: solid 2px;
     border-radius: 16px;
     width: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 10px;
}
.loginbox h3{
    color: black;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Copperplate';
    margin-left: 25%;
}
.textbox{
    background: none;
    width: 50%;
    overflow: hidden;
    padding: 16px 2px; 
    margin-left: 25%;
}
.textbox input{
    border: none;
    outline: none;
    color: black;
    font-size: 100%;
    width: 100%;
    height: 50px;
    background: transparent;
    border-bottom: 2px solid #ca6f1a;
}
.logbutton{
    color: white;
    font-size: 16px;
    width: 80%;
    height: 20%;
    border-radius: 8px;
    margin: 10px 10% 10px 45%;
  }  
.img2{
    width: 35%;
    height: 25%;
}
.mnv{
	margin: 2%;
	font-size:24px;
	color: #808080; 
	margin-top: 2%;
	font-family: 'Georgia';
}
.tab{
	display: inline-block;
    margin-left: 40px;
}
.data{
	margin: 2%;
	padding: 2%;
	color:#003333;
	font-size: 16px;
	font-family: 'Georgia';
	border-bottom: dashed  ;
	border-bottom-color:#808080;
}
.bor{
	border-style: double;
	margin: 2%;
	padding: 2%;
	font-family: 'Georgia';
}
.img3{
	width: 45%;
    height: 110%;
	border-radius: 50%;
	position: absolute;
	right:30%;
}
.mar{
	font-family: 'Georgia';
	margin: 2%;
	padding:2%;
	color: red;
	font-size:24px;
	border-bottom:dashed ;
	border-bottom-color:#808080;
	margin-top:-2%
}
.det{
	text-align:center;
	margin: 2%;
	padding:2%;
	font-size:14px;
}
	